.app-bar {
  margin-block-end: 25px;
  .app-bar-container {
    .question-bar-container {
      margin-block-start: 20px;
      min-width: 300px;
      gap: 6px;
      .question-bar {
        background-color: grey;
        border-radius: 5px;
        height: 8px;
        width: 45px;

        &.marked {
          background-color: $purple;
        }
      }
    }
  }
}
